In [ ]:
#PYTHON CODING QUESTIONS 
#Q1
n= int(input('Enter a number: '))
reversed = int(str(n)[::-1])
print("Reversed integer:",reversed)

Enter a number: 234
Reversed integer: 432

In [ ]:
#Q2
a = []
b = input('Enter a number: ')
for i in b:
  a.append(i)
print(a)
c=[]
for j in range(len(a)):
  c.append(int(a[j]))
print(c)
d=[]
for k in range(len(c)):
  d.append(c[k]**3)
print(d)
sum=0
for l in range(len(d)):
  sum+=d[l]
print (sum)
if sum==int(b):
  print(a,"is an Armstrong number ")
else:
  print(a,"is not an Armstrong number")

Enter a number: 69
['6', '9']
[6, 9]
[216, 729]
945
['6', '9'] Not an Armstrong number

In [ ]:
#Q3
num= int(input('Enter a number : '))
# If given number is greater than 1
if num > 1:
    # Iterate from 2 to n / 2
    for i in range(2, num):
        # If num is divisible by any number between
        # 2 and num, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number : 4
4 is not a prime number

In [ ]:
#Q4
first=0
second=1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 5
fibonacci series are :
0
1
1
2
3

In [7]:
#Q5
p = list(input("Eneter a String: "))
for i in range(len(p)):
  if p[i] == p[len(p)-1-i]:
    print("PALINDROME")
    break
  else:
    print("NOT PALINDROME")
    break

Eneter a String: mom
PALINDROME

In [1]:
#Q6
fn = int(input("Enter any number: "))
mn = int(input("Enter any number: "))
ln = int(input("Enter any number: "))
if fn > mn and fn > ln:
  print(fn, "is greater among", mn ,"and",ln) 
if mn > fn and mn > ln:
  print(mn, "is greater among", fn ,"and",ln) 
if ln > mn and ln > fn:
  print(ln, "is greater among", fn ,"and",mn)

Enter any number: 5
Enter any number: 6
Enter any number: 7
7 is greater among 5 and 6

In [8]:
#Q7
number = input("Enter any number:")
p = set(number)
s = {'1','0'}
if s == p or p == {'0'} or p == {'1'}:
  print("Your given number is binary.")
else:
  print("Your given number is not binary.")

Enter any number:68
Your given number is not binary.

In [9]:
#Q8
numbers = int(input("Enter quantity of numbers: "))
lst = list()
for i in range(0, numbers):
  elements = int(input())
  lst.append(elements)
print("\nThe Average of your given numbers are: ",sum(lst))

Enter quantity of numbers: 2
4
6

The Average of your given numbers are:  10

In [10]:
#Q9
x = input("Enter value of x: ")
y = input("Enter value of y: ")
print("\nBefore Swapping")
print("Value of x:", x , "and" , "y:", y)
x , y = y , x
print("\nAfter Swapping")
print("Value of x:", x , "and" , "y:", y)

Enter value of x: 2
Enter value of y: 4

Before Swapping
Value of x: 2 and y: 4

After Swapping
Value of x: 4 and y: 2

In [13]:
#Q10
x = input("Enter value of x: ")
y = input("Enter value of y: ")
print("\nBefore Swapping")
print("Value of x:", x , "and" , "y:", y)
temp = x
x = y
y = temp
print("\nAfter Swapping")
print("Value of x:", x , "and" , "y:", temp)

Enter value of x: 10
Enter value of y: 9

Before Swapping
Value of x: 10 and y: 9

After Swapping
Value of x: 9 and y: 10

In [14]:
#Q11
numbers = int(input("Enter quantity of numbers: "))
lst = list()
for i in range(0, numbers):
  elements = int(input())
  lst.append(elements)
print("\nThe Average of your given numbers are: ",sum(lst) / int(numbers))

Enter quantity of numbers: 3
1
2
3

The Average of your given numbers are:  2.0

In [16]:
#Q12
number = int(input("Enter a number: "))
factorial = 1
if number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

Enter a number: 24
The factorial of 24 is 620448401733239439360000

In [17]:
#Q13
number = int(input("Enter a number: "))
factorial = 1
if number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [18]:
#Q14
user_input = int(input("Enter a number to check even or odd: "))
if(user_input %2 == 0):
  print(user_input, "is a even number.")
elif(user_input %2 != 0):
  print(user_input, "is a odd number.")
else:
  print("Please, Enter Correct Value.")

Enter a number to check even or odd: 68
68 is a even number.

In [21]:
#Q15
numr=int(input("Enter range of prime numbers: "))
print("Prime numbers:",end=' ')
for n in range(1,numr):
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        print(n,end=' ')

Enter range of prime numbers: 5
Prime numbers: 1 2 3

In [22]:
#Q16
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
print ("The Prime Numbers in the range are: ") 
for number in range (lower_value, upper_value + 1):  
    if number > 1:
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 5
Please, Enter the Upper Range Value: 16
The Prime Numbers in the range are:
5
7
11
13

In [23]:
#Q17
fn = int(input("Enter any number: "))
mn = int(input("Enter any number: "))
ln = int(input("Enter any number: "))
if fn < mn and fn < ln:
  print(fn, "is smallest among", mn ,"and",ln) 
if mn < fn and mn < ln:
  print(mn, "is smallest among", fn ,"and",ln) 
if ln < mn and ln < fn:
  print(ln, "is smallest among", fn ,"and",mn)

Enter any number: 5
Enter any number: 2
Enter any number: 9
2 is smallest among 5 and 9

In [24]:
#Q18
import math
base = int(input("Enter the value for base: "))
exponent = int(input("Enter the value for exponent: "))
print(base ,"to power" , exponent , "is" ,pow(base,exponent))

Enter the value for base: 4
Enter the value for exponent: 7
4 to power 7 is 16384

In [25]:
#Q19
import math 
number = int(input("Enter the value for base: "))
print("Square to" , number , "is" , pow(number,2))

Enter the value for base: 6
Square to 6 is 36

In [26]:
#Q20
import math 
number = int(input("Enter the value for base: "))
print("Cube to" , number , "is" , pow(number,3))

Enter the value for base: 3
Cube to 3 is 27

In [33]:
#Q21
import math 
number = int(input("Enter the value for base: "))
print("Square root to" , number , "is" , int(math.sqrt(number)))

Enter the value for base: 36
Square root to 36 is 6

In [35]:
#Q22
def decimalToBinary(n):
    return bin(n).replace("0b", "")

number = int(input("Enter decimal number: "))

print("Binary to", number , "is", decimalToBinary(number))

Enter decimal number: 4
Binary to 4 is 100

In [34]:
#Q23
number = int(input("Enter decimal number: "))

print("Octal to", number , "is", oct(number))

Enter decimal number: 15
Octal to 15 is 0o17

In [29]:
#Q24
year = int(input("Enter a year: "))
if((year % 400 == 0) or (year % 100 != 0) and  (year % 4 == 0)):   
    print("Year", year ,"is a leap Year");  
  # Else it is not a leap year  
else:  
    print ("Year", year ,"is not a leap Year")

Enter a year: 2025
Year 2025 is not a leap Year

In [30]:
#Q25
temp = float(input("Enter temperature value in celcius: "))
fahrenheit = (temp * 1.8) + 32
print(temp, "celcius is equivalent to", fahrenheit, "fahrenheit.")

Enter temperature value in celcius: 96
96.0 celcius is equivalent to 204.8 fahrenheit.

In [31]:
#Q26
temp = float(input("Enter temperature value in fahrenheit: "))
celsius = (temp - 32) * 5/9
print(temp, "fahrenheit is equivalent to", celsius, "celsius.")

Enter temperature value in fahrenheit: 32
32.0 fahrenheit is equivalent to 0.0 celsius.

# New Section

# New Section